{
  "schemaVersion": 1,
  "id": "{{modid}}",
  "version": "${version}",
  "name": "{{mod_name}}",
  "description": "{{description}}",
  "authors": [
    "{{authors}}"
  ],
  "license": "{{license}}",
  "environment": "*",
  "entrypoints": {
    "main": [
      "{{package_base}}.fabric.FabricModInit"
    ]
  },
  "mixins": [
    "{{modid}}.mixins.json"
  ],
  "depends": {
    "fabricloader": ">={{fabric_loader_version}}",
    "fabric-api":   "*",
    "minecraft":    "~{{mc_version}}",
    "java":         ">={{java_version}}"
  }
}
