{
  "required": true,
  "minVersion": "0.8",
  "package": "{{package_base}}.mixin",
  "compatibilityLevel": "JAVA_{{java_version}}",
  "mixins": [],
  "client": [],
  "server": [],
  "injectors": {
    "defaultRequire": 1
  }
}
